# Generate with: openssl rand -base64 32
ONYX_CREDENTIAL_ENCRYPTION_KEY=

POSTGRES_PASSWORD=onyx
WEB_PORT=3000
OPENSEARCH_INDEX=onyx-kotlin-chunks
ONYX_EMBEDDING_MODEL_NAME=ibm-granite/granite-embedding-311m-multilingual-r2

# Alibaba-NLP/gte-multilingual-reranker-base or BAAI/bge-reranker-v2-m3
RERANKER_MODEL=Alibaba-NLP/gte-multilingual-reranker-base
